/*-- scss:defaults --*/
$anoma: #AE3133;
$code-color: $anoma;

/*-- scss:rules --*/
.color-anoma {
  color: $anoma;
}

.sidebar nav[role="doc-toc"] ul > li > a.active,
.sidebar nav[role="doc-toc"] ul > li > a:hover,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover {
  color: $anoma !important;
}
